<!DOCTYPE html>
<html>
  <head>
    <title></title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="">

    <!-- standard library -->
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/p5.min.js"></script>
    <script src="/static/p5.dom.min.js"></script>

    <!-- yuichi -->
    <script src="/static/p5.u1.main.js"></script>
    <script src="/static/p5.u1.lib.common.js"></script>
    <script src="/static/p5.u1.lib.common.test.js"></script>
    <script src="/static/p5.u1.lib.network.js"></script>
    <script src="/static/p5.u1.lib.network.test.js"></script>
    <script src="/static/p5.u1.watchman.js"></script>
  </head>

  <body>
    <div id="p5js-canvas-here">
      <!-- P5JS canvas will be here -->
    </div>
  </body>
</html>
